001-n8n-stride-ai-agent-starter-kit/n8n/backup/workflows/tool-get-calendar-events.json
{
    "name": "🛠️ Get Calendar Events",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b19c3450-439b-4d99-87e1-c98f136436d9",
                "name": "response",
                "value": "={{ $json.data }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "129d9366-860e-4283-b2c6-3f835e2ad28e",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          360
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "josh@executivestride.com",
            "mode": "list",
            "cachedResultName": "josh@executivestride.com"
          },
          "options": {
            "timeMin": "={{ $json.query.start_time }}",
            "timeMax": "={{ $json.query.end_time }}"
          }
        },
        "id": "b44277b0-53db-4b29-b638-c640498b81f3",
        "name": "Google Calendar3",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          620,
          360
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "x3VxJSjkmIbJR9yk",
            "name": "Josh ES"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "6a099b51-fb30-41f4-a240-7148ab925510",
        "name": "Aggregate1",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          840,
          360
        ]
      },
      {
        "parameters": {
          "content": "## 🛠️ Get Calendar Events",
          "height": 258.3606557377049,
          "width": 876.4847775175649,
          "color": 3
        },
        "id": "6556d20f-26be-45fc-94a6-fee0a82fd0bf",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          363,
          280
        ]
      },
      {
        "parameters": {},
        "id": "5cd2b9b3-6f36-4b2f-8776-f1175e2e659a",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          420,
          360
        ]
      }
    ],
    "pinData": {},
    "connections": {
      "Google Calendar3": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Google Calendar3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "e8882f2c-c343-4dde-b913-6b41dbc30574",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
    },
    "id": "MC8jLA5epffujdov",
    "tags": []
  }